body{
    background-color: black !important;
}
thead th{
    background-color: black !important;
    color: #fff !important;
}
tbody tr td{
    background-color: black !important;
    color: #fff !important;
}
.pagination .page-link{
    background-color: black !important;
    color: #fff !important;
}
.pagination .active .page-link{
    background-color: white !important;
    color: #000 !important;
    border-color: white !important;
}