body {
    background-color: black !important;
}

thead th {
    background-color: black !important;
    color: #fff !important;
}

tbody tr td {
    background-color: black !important;
    color: #fff !important;
}

.pagination .page-link {
    background-color: black !important;
    color: #fff !important;
}

.pagination .active .page-link {
    background-color: white !important;
    color: #000 !important;
    border-color: white !important;
}

.user-input input {
    border-color: #232323;
}

.user-input input::placeholder {
    color: #424141 !important;
}

.progress-bar {
    background-color: rgb(49, 49, 49) !important;
}

.progress {
    background-color: #6e6b6b !important;
}
.form-check-input:checked{
    background-color: #000 !important;

    border-color: white !important;
}
.form-check-input{
    background-color: #9c9b9b !important;

    border-color: white !important;
}